<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Hotel</display-name>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Controller.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-ref>
        <ejb-ref-name>CheckManager</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>dao.DaoChecks</remote>
    </ejb-ref>
    <error-page>
        <location>/View/error.jsp</location>
    </error-page>

</web-app>
